.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-left: 25%;
  margin-top: 5%;
}

input {
  width: 50%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  width: 15%;
  font-size: 18px;
  border-radius: 20px;
  height: 35px;
  border-width: 1px;
  text-align: center;
  border-style: solid;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-left: 18%;
}
